@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
}

/* Card Styles */
.card {
  width: 400px;
  height: 250px;
  background-color: grey;
  margin: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}

.row-one {
  width: 80%;
  display: flex;
}
.row-one .text {
  border: 0px;
  font-size: 30px;
  background-color: transparent;
  color: white;
}

.row-two {
  width: 80%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.row-two .name {
  font-size: 20px;
}

.row-two .cvv {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.row-two .cvv span {
  font-size: 10px;
  margin: 0px;
  padding: 0px;
}
.row-two .cvv h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

/* Form Styles */

form {
  display: flex;
  flex-direction: column;
}

form input {
  padding: 10px;
  margin: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

form input:hover {
  border: 1px solid #0984e3;
}
form input:active {
  border: 1px solid #0984e3;
}
form input:visited {
  border: 1px solid #0984e3;
}

form .submit-btn {
  border: 0px;
  background-color: #0984e3;
  color: white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
}
form .submit-btn:hover {
  transform: scale(1.1);
}
