@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
}

/* Card Styles */

.card-flip-wrapper {
  background-color: transparent;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  width: 400px;
  height: 250px;
}
.card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transform-origin: center right;
}

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}

.card-front .row-one {
  width: 80%;
  display: flex;
}
.card-front .row-one .text {
  border: 0px;
  font-size: 30px;
  background-color: transparent;
  color: white;
}

.card-front .row-two {
  width: 80%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.card-front .row-two .name {
  font-size: 20px;
}

.card-front .row-two .validity {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.card-front .row-two .validity span {
  font-size: 10px;
  margin: 0px;
  padding: 0px;
}
.card-front .row-two .validity h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  color: white;
  border-radius: 10px;
}
.card-back .cvv {
  width: 80%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: white;
  padding: 10px;
  height: 20px;
}
.card-back .cvv span {
  color: black;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

/* Form Styles */

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

form input {
  padding: 10px;
  margin: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

form input:hover {
  border: 1px solid #0984e3;
}
form input:active {
  border: 1px solid #0984e3;
}
form input:visited {
  border: 1px solid #0984e3;
}

form .submit-btn {
  border: 0px;
  background-color: #0984e3;
  color: white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
}
form .submit-btn:hover {
  transform: scale(1.1);
}
